/* zero.css */

/* Обнуляем отступы и поля у всех элементов */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Убираем стандартный стиль ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Убираем фон у кнопок и инпутов */
button, input {
    background: none;
    border: none;
    outline: none;
}

/* Убираем стили для списков */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Устанавливаем базовые шрифты для всего */
body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    background-color: #F8F8F8;
}
